@import url('https://fonts.googleapis.com/css?family=Creepster');
/*********************************************

This is the style file for this project.

**********************************************/
*{
  margin: none;
  box-sizing: border-box;
}

body{
  background: black;
  font-family: "Helvetica";
}

#log{
  color: white;
}
#chatBox{
  padding-top: 20px;
  border-style: double;
  border-color: white;
  margin-left: 35%;
  margin-right: 35%;
}

#choiceBox{
  border-style: solid;
  border-color: "#999";
  background: white;
  margin:  10px;
  display: flex;
  flex-wrap: wrap;
}

.choices{
  margin: 5px;
  background: black;
  flex-grow: 1;
  color: white;
}

.momo{
  padding-left: 10px;
}

.momo2{
  padding-left: 10px;
  font-family: "Creepster";
}

.player{
  text-align: right;
  padding-right: 10px;
}

.hidden{
  opacity: 0;
}

#dialog{
  color: black;
}
